/* stylesheet for page layouts */
.compoare-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.compare-main-content {
  margin-top: 65px;
  padding-top: 0;
  flex: 1;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.compare-filenames {
  align-items: center;
  display: grid;
  padding: 15px 12px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  font-size: 17px;
  font-weight: 600;
}
