/*Stylesheet for header*/
.header {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 55px;
  position: fixed;
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  padding-left: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #5b6f75;
  z-index: 999;
  text-align: center;
}

.logo {
  height: 65px;
  width: 110px;
}
