.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding-top: 160px;
    /* Leaves space for fixed header */
    flex: 1;
    /* Pushes footer to bottom */
    padding-left: 20px;
    padding-right: 20px;
}