/* stylesheet for score guages */
.gauge-header-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0 1rem 0;
    box-sizing: border-box;
}

.tqi-section {
    width: auto;
    height: auto;
    font-size: 1.25rem;
    background-color: #46666f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* TQI gauge font adjustments */
.tqi-section .gauge-score {
    font-size: 1rem;
}

/* TQI gauge item adjustments */
.tqi-gauge-item {
    background-color: #46666f;
    border-radius: 8px;
    margin-top: 20px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
}

/* Aspect gauge adjustments */
.aspects-section {
    background-color: #d5e187;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}

.aspects-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.aspects-gauges {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: auto;
    width: auto;
    transform: scale(0.9);
    overflow: visible;
}

.aspect-gauge-item .gauge-score {
    margin-top: 15px;
    font-size: 17px;
}

.aspect-gauge-item {
    background-color: #3d90b7;
    border-radius: 8px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    overflow: visible;
}

.aspect-gauge-item svg {
    overflow: visible !important;
}

.gauge-item .value-text {
    display: none !important;
}

.gauge-item text {
    fill: white !important;
    font-size: 18px !important;
}

.aspect-gauge-item:hover {
    transform: scale(1.05);
}

.gauge-title {
    margin-bottom: -20px;
}